---
import BlogPost from '../components/BlogPost.astro';
import Layout from '../layouts/layout.astro'


const {content} = Astro.props;
const {title, description, date, hero, youtube} = content;
---
<Layout>
    <main class="py-12 lg:py-20">
        <BlogPost title={title} hero={hero} date={date} youtube={youtube} >
            <slot />
        </BlogPost>
    </main>
</Layout>




